body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    color: rgb(0, 191, 255);
    font-size: 2.5rem;
    height: 50px;
    white-space: nowrap;
}

.content {
    margin: 5% 10%;
    color: rgb(0, 191, 255);
    text-align: left;
}

.content h2 {
    color: rgb(0, 191, 255);
}

.content p,
.content h3,
.content ul,
.content h2 {
    margin-bottom: 1.5rem;
}

.description,
.interests,
.skills {
    font-size: 1rem;
    line-height: 1.6;
}

.playlist-title {
    text-decoration: underline;
}

.links {
    list-style: none;
    padding: 0;
}

.links-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.link-item {
    text-decoration: none;
    color: rgb(0, 191, 255);
    font-size: 1.1rem;
    display: block;
    margin: 0.3rem 0;
}

.link-item:hover {
    text-decoration: underline;
}

.link-item i {
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .content {
        margin: 5%;
    }

    .header {
        font-size: 2rem;
    }

    .description,
    .interests,
    .skills {
        font-size: 0.9rem;
    }

    .link-item {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .content {
        margin: 3%;
    }

    .header {
        font-size: 1.8rem;
    }

    .description,
    .interests,
    .skills {
        font-size: 0.8rem;
    }

    .link-item {
        font-size: 0.9rem;
    }

    .links,
    .fun-facts,
    .playlist-title,
    .links-title {
        text-align: left;
    }

    .links-title {
        margin-bottom: 1rem;
    }
}

.header.blink::after {
    content: "|";
    animation: blinkCursor 0.7s steps(2) infinite;
    display: inline-block;
    margin-left: 2px;
}

@keyframes blinkCursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}